body {
    margin: 0 auto;
    font-family: Arial, sans-serif;
    text-align: center;
}

h1 {
    font-family: Tahoma, sans-serif;
    color: lightcoral;
}

ul {
    list-style-type: none;
}

button {
    height: 50px;
    width: 150px;
    background-color: lightpink;
    font-size: 18px;
}

.story {
    padding-top: 15px;
}
